_example() {
    _arguments \
        '1: :->subcmds' \
        '*::arg:->args'

    case $state in
        subcmds)
            compadd subcmd1 subcmd2 subcmd3
            ;;
        args)
            case $line[1] in
                subcmd1)
                    compadd arg1 arg2 arg3
                    ;;
                subcmd2)
                    compadd argA argB argC
                    ;;
            esac
            ;;
    esac
}
