 | (-c | --config) "string   config file (default is /etc/headscale/config.yaml)"
 | --force "Disable prompts and forces the execution"
 | (-h | --help) "help for headscale"
 | (-o | --output) "string   Output format. Empty for human-readable, 'json', 'json-line' or 'yaml'"
