 | -? "-h    These two equivalent options se‐"
 | -a "causes list selection options to"
 | -A "A     is  available on systems config‐"
 | -b "causes   lsof  to  avoid  kernel"
 | -c "c     selects the listing of files for"
 | -C "disables the  reporting  of  any"
 | -d "s     specifies a  list  of  file  de‐"
 | -D "D     directs lsof's use of the device"
 | -D "must  be followed by a func‐"
 | -E "specifies that endpoint  sup‐"
 | -f "are properly  terminated  and"
 | -F "f     specifies  a  character list, f,"
 | -g "[s]   excludes  or selects the listing"
 | -i "[i]   selects the listing of files any"
 | -h "or -?  (help) option.  If the"
 | -K "k     selects  the  listing  of  tasks"
 | -h "or -?  options -  shows  this"
 | -k "k     specifies  a  kernel  name  list"
 | -l "inhibits  the conversion of user"
 | -n "inhibits the conversion of  net‐"
 | -N "selects  the  listing   of   NFS"
 | -o "directs  lsof  to  display  file"
 | -o "o     defines  the  number  of decimal"
 | -o "-o 10"
 | -O "directs   lsof   to  bypass  the"
 | -p "s     excludes or selects the  listing"
 | -P "inhibits the conversion of  port"
 | -Q "ignore failed search terms. When"
 | -R "directs lsof to list the  Parent"
 | -s "[p:s] s alone directs lsof to  display"
 | -? "help output lists it."
 | -S "[t]   specifies an  optional  time-out"
 | -T "[t]   controls the reporting  of  some"
 | -T "with no following key charac‐"
 | -T "with following characters se‐"
 | -h "or -?  help output for the -T"
 | -t "produce  terse output comprising"
 | -u "s     selects the listing of files for"
 | -U "selects the listing of UNIX  do‐"
 | -v "selects the listing of lsof ver‐"
 | -V "directs  lsof  to  indicate  the"
 | -h "or  -?   option.   Disabling"
 | -x "[fl]  may  accompany the +d and +D op‐"
 | -X "This is a  dialect-specific  op‐"
 | -z "[z]   specifies  how  Solaris  10  and"
 | -Z "[Z]   specifies how  SELinux  security"
 | -- "The  double minus sign option is"
 | -b "option,  the  only names you"
 | -h "or -?  option, gives the status of the"
 | -m "options, lsof checks  the  user's  au‐"
 | -P "options;  colon-separated"
 | -- "'', and as many components"
 | -T "option will show what TCP/TPI reporting can be"
 | -? "options to see if the +m and +m m op‐"
 | -h "or -?  option."
