 | (-h | --help) "show this help message and exit"
 | --toml-output, "-t  Transcode jq JSON output back into TOML and emit it"
 | --in-place, "-i     Edit files in place (no backup - use caution)"
 | --version "show program's version number and exit"
